<div style="text-align: center"> 
  <h1>
    welcome to angular
 
  </h1>

  <h2>   {{messageFromClild}}</h2>
  <!-- <app-sample></app-sample> -->
  <!-- <app-structural-directive-ng-if></app-structural-directive-ng-if> -->
  <!-- <app-structural-directive-ng-switch></app-structural-directive-ng-switch> -->

  <!-- <app-structural-directive-ng-for></app-structural-directive-ng-for> -->

  <!-- <app-component-interaction (clildEvent)= "messageFromClild = $event"  
  [componentInteractionParentClild] = "componentInteraction"> </app-component-interaction> -->

  <app-pipes></app-pipes>
</div>